h1 {
   font-family: Arial,sans-serif;
}

body {
	background: #e0dddd;
}

#parentCompanySelect {
	height: 20px;
	width: 160px
}

.floating-box {
	float: left;
	margin-left: 40px;
}

li {
    padding-left:10px;
}

#mainDiv {
    float:left; 
}

#treeDiv {
    float: left;
    width: 100%;
    background-color: #ffffff;
}